extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  p start shopping now
  <a href="car"> car </a>
  </br>
  <a href="TV"> TV </a>
  </br>
  <a href="WirelessRouters"> Wireless Routers </a>
  