body {
  color: #ffffff;
  background-color: #666;
}

h1{

	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

.vertical_menu {
float: left;
width: 120px;
border: none;
background-color: #EEFFFF;
margin: 5px;
padding: 5px;
}

.vertical_menu li {
list-style: none;
margin: 5px;
}

.vertical_menu li a {
text-decoration: none;
color: black;
}

.vertical_menu li a:hover {
text-decoration: none;
}

#main_content {
margin-left: 160px;
}