extends layout

block content
  h1= title
  link(rel='stylesheet', href='/stylesheets/styles.css')
  p(align="center") Welcome to #{title}
  br
  
  <ul class="vertical_menu">
  <li><a href="car"> Car </a></li>
  <li><a href="TV"> TV </a></li>
  <li><a href="wirelessrouter"> Wireless Routers </a></li></ul>
  
  <div id="main_content">
  
  <p>Shop N Buy offers a truly remarkable shopping experience on the Internet. With an unparalleled assortment of the leading international and national brands, we are an online shopping destination of choice. </p>
  <p>Our customer centricity and relentless pursuit to set new benchmarks in retail has made us the leading chain of department stores in India. We take immense pride in welcoming you to our online department store, that offers you the convenience to shop for some of the best lifestyle brands online anytime, anywhere.</p></br> 
  <p>Explore our extensive range of men's, women's and kids apparel and accessories from leading brands.</p>
  
  </div>

